.quiz {
  &_title {
    @apply text-2xl font-bold text-center mb-4;
    font-family: 'Poppins', sans-serif;
  }

  &_reset {
    @apply text-center;

    button {
      @apply my-2;
    }
  }

  &_questions-list {
    @apply flex flex-col items-center my-8 px-32;
  }

  &_validation {
    @apply flex justify-center;
  }

  &_category{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;

    span{
      font-weight: 700;
    }
  }
}
